@import "/web/20061205192855cs_/http://www.roblox.com/CSS/ChangePassword.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/CreateUserWizard.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/DataList.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/DetailsView.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/FormView.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/GridView.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/Login.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/LoginStatus.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/Menu.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/PasswordRecovery.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/TreeView.css";

/*
     FILE ARCHIVED ON 19:28:55 Dec 05, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:05:08 Jun 12, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 62.763
  exclusion.robots: 0.093
  exclusion.robots.policy: 0.086
  RedisCDXSource: 4.449
  esindex: 0.009
  LoadShardBlock: 41.215 (3)
  PetaboxLoader3.datanode: 96.709 (4)
  CDXLines.iter: 14.823 (3)
  load_resource: 538.271
  PetaboxLoader3.resolve: 465.567
*/