#InboxContainer
{
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  padding: 10px 10px 10px 10px;
}

#Inbox #Buttons
{
  margin: 10px 0px 10px 0px;
}

#Inbox #Buttons .Button
{
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  color: #000000;
  font-family: Verdana, Sans-Serif;
  padding: 3px 10px 3px 10px;
  text-decoration: none;
}

