#AlreadyInstalled
{
	display: none; 
	font-size: x-large; 
	color: Red;
	margin: 44px 44px 44px 44px;
}

#AlreadyInstalled a
{
	text-decoration: underline;
}

/*
     FILE ARCHIVED ON 19:43:02 Dec 05, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:05:09 Jun 12, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 576.448
  exclusion.robots: 0.132
  exclusion.robots.policy: 0.121
  cdx.remote: 0.086
  esindex: 0.012
  LoadShardBlock: 39.959 (3)
  PetaboxLoader3.datanode: 46.353 (4)
  CDXLines.iter: 17.617 (3)
  load_resource: 33.495
  PetaboxLoader3.resolve: 22.725
*/