.foo {} /* W3C CSS validator likes CSS files to start with a class rather than a comment. Soooooo.... */

/* This style sheet is intended to contain OFTEN CHANGED rules used when the Login control adapter is enabled. */
/* Empty rules are provided merely as a convenience for your future use or experimentation. */

.AspNet-Login
{
}

.AspNet-Login label,
.AspNet-Login input
{
}

.AspNet-Login input
{
    font-size: 1em;  /* lets the form element scale */
}

.AspNet-Login div
{
}

/* This rule is used when AutoAccessKey is true */
.AspNet-Login label em
{
    text-decoration: underline;
    font-style: normal;
}

.AspNet-Login .AspNet-Login-TitlePanel
{
}

.AspNet-Login .AspNet-Login-FailurePanel
{
    height: 4em;
}

.AspNet-Login .AspNet-Login-UserPanel,
.AspNet-Login .AspNet-Login-PasswordPanel,
.AspNet-Login .AspNet-Login-RememberMePanel,
.AspNet-Login .AspNet-Login-SubmitPanel
{
    padding: 0.25em 0.1em 0 0;
}

.AspNet-Login .AspNet-Login-UserPanel,
.AspNet-Login .AspNet-Login-PasswordPanel,
.AspNet-Login .AspNet-Login-SubmitPanel
{
    text-align: right;
}

.AspNet-Login .AspNet-Login-UserPanel label,
.AspNet-Login .AspNet-Login-PasswordPanel label,
#PaneLogin .TextboxLabel  /* used by table-style */
{
    white-space: nowrap;
}

.AspNet-Login .AspNet-Login-UserPanel input,
.AspNet-Login .AspNet-Login-PasswordPanel input
{
    width: 9em;
}

.AspNet-Login .AspNet-Login-SubmitPanel input
{
    height: 1.7em;
}

.AspNet-Login .AspNet-Login-InstructionPanel,
.AspNet-Login .AspNet-Login-HelpPanel,
.AspNet-Login .AspNet-Login-PasswordPanel,
.AspNet-Login .AspNet-Login-RememberMePanel,
.AspNet-Login .AspNet-Login-CreateUserPanel,
.AspNet-Login .AspNet-Login-PasswordRecoveryPanel
{
}

#PaneNewUser
{
  float: right; 
  width: 170px; 
  background-color: gainsboro;
  padding: 0px 22px 22px
}

#PaneLogin
{
    width: 18em;
    padding: 0px;
}

#PaneLogin .AspNet-Login div
{
  margin: 10px;
}

#LoginView
{
  border: solid 1px Black;
  width: 150px;
}

#LoginView h5
{
  background-color: #cccccc;
  border-bottom: solid 1px #000000;
  margin-bottom: 0px;
}

#LoginView #AlreadySignedIn
{
  background-color: #eeeeee;
}

#LoginView .Label
{
  font-weight: bold;
}

#LoginView .Text
{
  width: 133px;
}

#LoginView .AspNet-Login
{
  background-color: #eeeeee;
}

#LoginView .AspNet-Login .AspNet-Login-InstructionPanel,
#LoginView .AspNet-Login .AspNet-Login-HelpPanel,
#LoginView .AspNet-Login .AspNet-Login-UserPanel,
#LoginView .AspNet-Login .AspNet-Login-PasswordPanel,
#LoginView .AspNet-Login .AspNet-Login-RememberMePanel
{
  padding: 3px 5px 3px 5px;
  text-align: left;
}

#LoginView .AspNet-Login .AspNet-Login-SubmitPanel
{
  padding: 10px 5px 5px 10px;
    text-align: center;
}

#LoginView .AspNet-Login .AspNet-Login-PasswordRecoveryPanel
{
  padding: 5px 5px 5px 5px;
    text-align: center;
}

#LoginView .AspNet-Login .AspNet-Login-PasswordRecoveryPanel a
{
  color: #999999;
  font: normal 9px/normal Verdana, Arial, Helvetica, sans-serif;
  padding: 5px 5px 5px 5px;
    text-align: center;
}

#LoginView .AspNet-Login .AspNet-Login-PasswordRecoveryPanel a:hover
{
  color: Blue;
}

#Registration h4
{
  font-size:10pt;
  margin-bottom:5px;
  margin-top:30px
}

#AlreadyRegistered
{
  float: right; 
  width: 200px; 
  background-color: gainsboro;
  padding: 0px 22px 22px
}

#Registration
{
  width: 450px; 
  margin: 0 auto 20px
}

#Registration .UsernameRow,
#Registration .PasswordRow,
#Registration .EmailRow,
#Registration .Confirm
{
    padding: 3px;
    text-align: right;
    margin-right: 150px
}

#Registration .Confirm
{
    margin-top: 25px
}

#Registration .Validators
{
}

#Registration .Suggestion
{
  margin-top:8px;
  font-style:italic
}

#Registration label
{
    margin-right:5px
}

#Registration input
{
    width: 9em;  
}

