body
{
  font: normal 8pt/normal 'Comic Sans MS', Verdana, Arial, Helvetica, sans-serif;
  margin-top: 0px;
  text-transform: none;
  text-decoration: none;
}

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

h2
{
  letter-spacing: 1px;
}

h3
{
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 10px 0px 10px 0px;
}

h5
{
  font: normal 11px/normal Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  padding: 5px 5px 5px 5px;
}

input.Text
{
  border-color: #777777;
  border-style: dashed;
  scrollbar-base-color: Gray;
}

/* Used to put an easy-to-notice border around Admin controls */
.AdminPanel
{
  border-style: dotted;
  border-color: Orange;
}

.Button
{
  border: solid 1px #777777;
  color: #777777;
  font: normal 11px/normal Verdana, Arial, Helvetica, sans-serif;
  padding: 3px 10px 3px 10px;
}

.Button:hover
{
  border: solid 1px #000000;
  color: #000000;
  text-decoration: none;
}

.Bullet
{
  float: left;
  margin-right: 10px;
  margin-bottom: 4px
}

.Legalese
{
  font-size: 7pt;
}

.Separator
{
  color: #ffffff;
  margin: 0px 3px 0px 3px;
}

#Container
{
  width: 900px;
  margin:0px auto;  /* This centers the entire ROBLOX content in the browser */
}

#Header
{
  font: normal 12px/normal Verdana, Arial, Helvetica, sans-serif;
  width: 900px;
    text-align: center;
    font-weight:bold;
  color: White;
}

#Header a, #Header a:visited, #Header a:active
{
  color: White;
  text-decoration: none;
}

#Header a:hover
{
  color: White;
  text-decoration: underline;
}

#Banner
{
  width: 100%;
  background-image: url("../images/banner2.png");
  background-repeat: no-repeat;
  border-bottom: solid 1px #000000;
  border-left: solid 1px #000000;
  border-right: solid 1px #000000;
  height: 72px;
  text-align: center;
}

#Banner #Authentication
{
  float: left;
  padding: 4px 4px 4px 4px;
  text-align: left;
  width: 287px;
}

#Banner #Home
{
  clear: left;
  float: left;
  margin-top: 28px;
  padding: 4px 4px 4px 4px;
  text-align: left;
  width: 287px;
}

#Banner #Logo
{
  float: left;
  margin: 3px 0px 0px 0px;
  text-align: center;
  width: 300px;
}

#Banner #Alerts
{
  clear: left;
  float: right;
  padding: 15px 15px 2px 4px;
  text-align: right;
  width: 287px;
}

#Header #Navigation
{
  width: 100%;
  background-color: #6e99c9;
  border-bottom: solid 1px #000000;
  border-left: solid 1px #000000;
  border-right: solid 1px #000000;
  color: #ffffff;
  font-family: 'Comic Sans MS', Verdana, Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  line-height: 2em;
}

#Header #Navigation a, #Header #Navigation a:visited, #Header #Navigation a:active
{
  color: #ffffff;
  text-decoration: none;
}

#Header #Navigation a:hover
{
  color: #ffffff;
  text-decoration: underline;
}

#Body
{
  margin-top: 10px;
  width: 902px;
}

#Footer
{
  font: normal 8px/normal Verdana, Arial, Helvetica, sans-serif;
  margin-top: 10px;
  width: 900px;
    text-align: center;
}

#Footer .Legalese
{
  margin: 0px 0px 0px 0px;
}

.BigButton
{
  background-color: #F5CD2F;
  color: #000000;
  height: 2.5em;
  font-family: Comic Sans MS;
  font-size: 20px;
  font-weight: bold
}

.ErrorReporting, .ErrorReportingThanks
{
  width: 500px;
  margin: 16px auto 16px auto;
  padding: 10px;
  border: orange dotted;
}

.YesNoButtons
{
  text-align: right;
}

.YesButton,
.NoButton
{
  background-color: #F5CD2F;
  color: #000000;
  margin-left: 10px
}
