#ToolboxContainer
{	
	text-align: center;
}

#ToolboxControls
{
	text-align: left;
	width: 200px;
}

#ToolboxSelector
{
	margin: 0px 0px 5px 0px;
}

#ToolboxSearch
{
	margin: 0px 0px 5px 0px;
}

#ToolboxItems
{
	background-color: window;
	border: solid 1px Black;
	min-height: 100px;
	padding: 10px 10px 10px 10px;
	width: 178px;
}

#Button
{
	background-color: White;
	border: solid 1px black;
	cursor: hand;
	float: right;
	height: 16px;
	margin: 0px 0px 0px 5px;
	padding: 1px 0px 0px 0px;
	text-align: center;
	width: 50px;
}

#ToolboxContainer #Navigation
{
	font-size: 8pt;
	width: 200px;
	padding: 3px 0px 0px 0px;
}

#ToolboxContainer #Navigation a
{
	color: #0000cc;
	text-decoration: none;
}

#ToolboxContainer #Navigation a:hover
{
	font-weight: bold;
	letter-spacing: -.5pt;
}

#ToolboxContainer #Navigation #Previous
{
	float: left;
	width: 60px;
	text-align: left;
}

#ToolboxContainer #Navigation #Location
{
	float: left;
	text-align: center;
	width: 74px;
}

#ToolboxContainer #Navigation #Next
{
	float: right;
	text-align: right;
	width: 60px;
}

.ButtonText
{
	border-width: 1px;
	font-size: 8pt;
	color: Black;
	text-decoration: none;
}

.ButtonText:hover
{
	font-weight: bold;
	letter-spacing: -.1em;
}

.NavigationIndicators
{
	font-size: 6pt;
	font-weight: bold;
	letter-spacing: -.1em;
	vertical-align: middle;
}

.Search
{
	border: solid 1px Black;
	float: left;
	font-family: Verdana, Sans-Serif;
	font-size: 8pt;
	height: 15px;
	line-height: 1.3em;
	padding: 1px 2px 1px 2px;
	width: 130px;
}

.Page
{
	background-color: ButtonFace;
	font-family: Verdana, Sans-Serif;
}

.Toolboxes
{
	font-family: Verdana, Sans-Serif;
	font-size: 9pt;
	font-weight: bold;
	width: 200px;
}

.ToolboxItem
{
	border: solid 2px Window;
	height: 64px;
	margin: 10px 10px 10px 10px;
	width: 64px;
	vertical-align: middle;
}
/*
     FILE ARCHIVED ON 19:30:42 Dec 05, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:05:09 Jun 12, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 613.902
  exclusion.robots: 0.079
  exclusion.robots.policy: 0.072
  cdx.remote: 0.061
  esindex: 0.008
  LoadShardBlock: 114.092 (3)
  PetaboxLoader3.datanode: 130.38 (4)
  CDXLines.iter: 14.076 (3)
  load_resource: 160.521
  PetaboxLoader3.resolve: 93.277
*/