#UserContainer
{
  width: 100%
}

#ProfilePane
{
  float: left;
  width: 365px;
  margin: 12px 0 16px 0;
  text-align: center;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
}

#PrimaryPlacePane
{
  float: right;
  width: 420px;
  margin: 12px 0 24px 0;
  text-align: center;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
}

#FriendRequestsPane,
#FriendsPane
{
  clear: both;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  margin: 0px auto 0px auto;
  overflow: auto;
  width: 100%;
  text-align: center;
  height: 170px;
}


#UserModelsContainer
{
}

#Friends h4
{
  font-size: 10pt;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 5px;
  margin-top: 5px;
}

.Friend
{
  margin: 10px 10px 10px 10px;
}

.Friend .Summary
{
  margin-top: 5px;
}

.Friend .Options
{
  margin-top: 5px;
  text-align: center;
}

#FriendRequests h4
{
  font-size: 10pt;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 5px;
  margin-top: 5px;
}
